@font-face {
	font-family: uniicons;
	font-weight: normal;
	font-style: normal;
	src: url('~@/static/uni.ttf') format('truetype');
}

/* My Style */
uni-button[type='primary'] {
	background-color: #2ac4ff !important;
}
.button-hover[type='primary'] {
	background-color: #209ff2 !important;
}

.uni-group {
	margin-top: 0 !important;
}
.uni-group__title {
	background-color: transparent !important;
}
.uni-group__title-text {
	font-size: 24upx !important;
	color: #999 !important;
}
.uni-group__content {
	padding: 0 !important;
}
