@font-face {
	font-family: uniicons;
	font-weight: normal;
	font-style: normal;
	src: url('~@/static/uni.ttf') format('truetype');
}

/* My Style */
uni-button[type='primary'] {
	background-color: #2ac4ff !important;
}
.button-hover[type='primary'] {
	background-color: #209ff2 !important;
}

.uni-group {
	margin-top: 0 !important;
}
.uni-group__title {
	background-color: transparent !important;
}
.uni-group__title-text {
	font-size: 24upx !important;
	color: #999 !important;
}
.uni-group__content {
	padding: 0 !important;
}

.uni-easyinput__content {
	background-color: #f5f5f5 !important;
	border: none !important;
}

.segmented-control__item--button {
	border-color: #f5f5f5 !important;
}
.segmented-control__item--button.segmented-control__item--button--active {
	background-color: #2ac4ff !important;
	.segmented-control__text {
		color: #ffffff !important;
	}
}

.segmented-control__text {
	color: #2ac4ff !important;
}

uni-button {
	&::after {
		border: none !important;
	}
}

// 会导致层级错乱某些情况下Mask遮住NavBar
.fixforpc-z-index {
	z-index: 100 !important;
}

.fix-status-bar {
	padding-top: var(--status-bar-height);
}

// 全局下拉刷新到顶的距离
uni-page-refresh {
	top: calc(100upx + var(--status-bar-height));
}
